.TextHeader {
  padding: 20px 0;

  h1 {
    font-size: 20px;
    line-height: 26px;
    color: #333;
    margin: 0;
  }

  p {
    color: #888;
    margin: 7px 0 0 0;
  }

  .btn {
    margin-top: 20px;
  }
}

@include breakpoint(tablet) {
  .TextHeader {
    padding: 40px 0;

    h1 {
      font-size: 26px;
      line-height: 32px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      margin-top: 10px;
    }
  }
}
