form label.error {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
  color: lighten( red, 20% );
}

form .form-hint {
  font-size: 13px;
  color: #888;
  margin: 10px 0 0;
  font-style: italic;
}
